<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
            {% include logo.html %}
            {% else %}
            {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </a>
    {% if site.show_get_theme_btn %}
    <a href="https://link3.cc/hack" class="get-theme" role="button">防丢页</a>
    <a href="https://pan.quark.cn/g/bd4eb81194" class="get-theme" role="button">夸克群1 以后主打 暂无资源</a>
    <a href="https://pan.quark.cn/g/347aa2d929" class="get-theme" role="button">夸克群2 以后弃之 有资源</a>
    <a href="https://pd.qq.com/s/7conjnpx7" class="get-theme" role="button">QQ频道</a>
    <a href="https://www.kdocs.cn/l/cn6E0FFOoQt9" class="get-theme" role="button">资源文档</a>

    <link rel="stylesheet" href="../assets/Aplayer/APlayer.min.css" th:href="@{/assets/Aplayer/APlayer.min.css}">
<!--音乐-->
<script src="../assets/Aplayer/APlayer.min.js" th:src="@{/lib/Aplayer/APlayer.min.js}"></script>
<script src="../assets/Aplayer/Meting.min.js" th:src="@{/lib/Aplayer/Meting.min.js}"></script>
 
<!--音乐插件-->
    <meting-js
            server="netease"
            type="playlist"
            id="8925762343"
            fixed="true"
            autoplay="false"
            loop="all"
            order="random"
            preload="auto"
            list-folded="ture"
            list-max-height="500px"
            lrc-type="0">
    </meting-js>
    
    <!--<a href="/ok" class="get-theme" role="button">领优惠劵购买会员更优惠</a>-->

    <!--注释掉右上角 Get this theme! button按钮
    <a href="category/日韩剧/" class="get-theme" role="button">日韩剧</a>
    <a href="category/欧美剧/" class="get-theme" role="button">欧美剧</a>
    <a href="category/电影合集/" class="get-theme" role="button">电影合集</a>
    <a href="category/其他/" class="get-theme" role="button">其他</a>
    -->
    {% endif %}

</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}