<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
            {% include logo.html %}
            {% else %}
            {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </a>
    {% if site.show_get_theme_btn %}
    <a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=TxQ8ujkGD8MCOmSm556Zw1f-HcyyuSpY&authKey=m0rz9kb1LTcFiOSAcjtMsLYZGftghwkQlquypcEAiPkjXhSKAu%2F4208yV%2BGM48lX&noverify=0&group_code=906966228" class="get-theme" role="button">QQ群</a>
    <a href="https://link3.cc/hack" class="get-theme" role="button">防丢页</a>
    <a href="https://www.kdocs.cn/l/cvtEtEgmLTaZ" class="get-theme" role="button">在线文档</a>

    
    <!--注释掉右上角 Get this theme! button按钮
    <a href="category/日韩剧/" class="get-theme" role="button">日韩剧</a>
    <a href="category/欧美剧/" class="get-theme" role="button">欧美剧</a>
    <a href="category/电影合集/" class="get-theme" role="button">电影合集</a>
    <a href="category/其他/" class="get-theme" role="button">其他</a>
    -->
    {% endif %}

</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}